n8n_workflows/01_trend_hunter.json
{
  "name": "01_El_Cazador_TrendHunter",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-01",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/clockworks~tiktok-scraper/runs?waitForFinish=120&token=REPLACE_WITH_APIFY_TOKEN",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawBody": "{\n  \"hashtags\": [\n    \"tiktokmademebuyit\"\n  ],\n  \"resultsPerPage\": 5,\n  \"shouldDownloadVideos\": false\n}",
        "options": {}
      },
      "name": "Scrapear TikTok (Apify)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{$json.data.defaultDatasetId}}/items?format=json&clean=1",
        "options": {}
      },
      "name": "Obtener Resultados JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "maxItems": 1
      },
      "name": "Extraer Solo el Mejor",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "respuesta_texto",
              "value": "=🔥 *TOP VIRAL ENCONTRADO* 🔥\n\n📺 *Vistas:* {{ $json.playCount || 'No disponible' }}\n❤️ *Likes:* {{ $json.diggCount || 'No disponible' }}\n🔗 *Link:* {{ $json.webVideoUrl || 'No disponible' }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Formatear Respuesta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1140,
        300
      ]
    },
    {
      "parameters": {},
      "id": "output-01",
      "name": "Devolver al Cerebro",
      "type": "n8n-nodes-base.executeWorkflowOutput",
      "typeVersion": 1,
      "position": [
        1360,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Scrapear TikTok (Apify)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrapear TikTok (Apify)": {
      "main": [
        [
          {
            "node": "Obtener Resultados JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Resultados JSON": {
      "main": [
        [
          {
            "node": "Extraer Solo el Mejor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Solo el Mejor": {
      "main": [
        [
          {
            "node": "Formatear Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta": {
      "main": [
        [
          {
            "node": "Devolver al Cerebro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
