n8n_workflows/02_creative_studio.json
{
  "name": "02_La_Central_CreativeStudio",
  "nodes": [
    {
      "parameters": {},
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.product_data }} Actúa como un experto en contenido orgánico de TikTok para el nicho de Joyería y Oro. Genera 5 guiones virales para este producto: 1 POV (Punto de Vista), 1 Problema/Solución extremo (ej: metales que manchan la piel vs nuestro oro), 1 'Por qué no sabías que necesitabas esto', y 2 comparativas con joyas tradicionales. Aplica ganchos agresivos en los primeros 3 segundos."
      },
      "name": "Generador Claude/Gemini",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "TELEGRAM_CHAT_ID",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Enviar a Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        750,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Generador Claude/Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generador Claude/Gemini": {
      "main": [
        [
          {
            "node": "Enviar a Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
