n8n_workflows/02_creative_studio.json
{
  "name": "02_La_Central_CreativeStudio",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-02",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "productUrl",
              "value": "={{ $json.productUrl || 'Sin URL de producto (modo manual)' }}"
            },
            {
              "name": "chatId",
              "value": "={{ $json.chatId || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "prep-datos",
      "name": "Preparar Datos Entrada",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 2048, messages: [{ role: 'user', content: 'Eres experto en contenido viral de TikTok para dropshipping.\\n\\nProducto: ' + $json.productUrl + '\\n\\nGenera 5 guiones virales numerados:\\n1. POV del comprador\\n2. Problema/Solucion dramatico\\n3. Por que no sabias que necesitabas esto\\n4. Comparativa precio vs valor\\n5. Antes/Despues\\n\\nCada guion: gancho en 3 segundos entre asteriscos, 15-30 segundos, CTA final. Solo los guiones en Markdown.' }] }) }}",
        "options": {}
      },
      "id": "llamar-claude",
      "name": "Llamar a Claude (Anthropic)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [700, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "BUEEJEPalWKrWy2Q",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "respuesta_texto",
              "value": "=🧠 *5 GUIONES VIRALES GENERADOS* 🧠\n\n{{ $json.content[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-guiones",
      "name": "Formatear Guiones",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [920, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [{ "node": "Preparar Datos Entrada", "type": "main", "index": 0 }]
      ]
    },
    "Preparar Datos Entrada": {
      "main": [
        [{ "node": "Llamar a Claude (Anthropic)", "type": "main", "index": 0 }]
      ]
    },
    "Llamar a Claude (Anthropic)": {
      "main": [
        [{ "node": "Formatear Guiones", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {}
}